<header class="navyblue_bg">
	<div class="row">
		<div class="nine column centered">
			<ul class="follow link-list babyblue">
				<li><%= image_tag 'follow_us.png', :class => "followimg" %></li>
				<li><a href="#">FACEBOOK</a></li>
				<li><a href="#">TWITTER</a></li>
				<li><a href="#">INSTAGRAM</a></li>
				<li><a href="#">TUMBLR</a></li>
			</ul>
		</div>
	</div>
</header>

<section>
	<div class="row">
		<div class="eight column centered text-center white">
			<%= image_tag 'pac_logo.png', :alt => "Pacific Amber Co.", :id => "pac_logo" %>
			<h3>We will be launching our new site with our first collection of goods soon.</h3>
			<a href="#" class="button">NOTIFY ME</a>
		</div>
	</div>
</section>